{% extends 'base.html' %}

{% block title %}
PrintX Create Order Page
{% endblock %}

{% block body %}
<div class="container mt-5">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <div>
            {{ message }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

    <div class="shadow p-3 mb-5 bg-body rounded">
        <h1>Adding New Order</h1>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br/>

            {{ form.order_type.label(class="form-label") }}
            {{ form.order_type(class="form-control") }}
            <br/>

            {{ form.count.label(class="form-label") }}
            {{ form.count(class="form-control") }}
            <br/>

            {{ form.submit(class="btn btn-success") }}

        </form>
    </div>
</div>
{% endblock %}