{% extends 'base.html' %}

{% block title %}
PrintX Upload Delivery Page
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h1>Upload new order list</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ form.file.label(class="form-label") }}<br>
            {{ form.file(class="form-control") }} <br><br>

            {{ form.submit(class="btn btn-success") }}
        </form>
    </div>
</div>
{% endblock %}